.actionFooter {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .selectText {
    padding: 10px;
  }

  .btnGroups {
    margin-left: 5px;
  }
}

.actionFooterContainer {
  transition: height 0.3s;
  height: 0;
  overflow: hidden;
}

.actionFooterContainer.active {
  height: auto;
}
