.postContainer{
  margin-bottom: var(--basePadding12);
}

.post {
  padding: var(--basePadding5);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px 0px 20px 0px;
  width: 100%;

  .author {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    .picture {
      width: fit-content;
      margin: 0 auto;
      cursor: pointer;
      img {
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 50%;
      }
    }

    .name {
      color: var(--neutral-09, #1e1e1e);
      cursor: pointer;
      font-size: 16px;
      font-family: Noto Sans;
      font-weight: 500;
      line-height: 24px;
      margin: 10px 0px 20px 0px;

      a {
        font-size: 16px;
        color: black;
      }
    }

    .btnContainer {
      display: inline-flex;
      height: 32px;
      padding: 0px 3px 0px 0px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      .btn {
        display: flex;
        padding: 5px 32px;
        align-items: center;
        gap: 8px;

        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 22px;
        background: var(--primary-06, #598022);
        color: var(--neutral-white, #fff);
      }
    }

    .collected {
      margin: 60px 0px 20px 0px;
      border-radius: 5px;
      padding: 10px;
      text-align: left;

      .title {
        text-transform: capitalize;
        color: gray;
      }

      .datetime {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        text-decoration: underline;
      }

      .dirs {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        text-decoration: underline;
      }
    }
  }
}

.commentContainer{
  background-color: var(--post-bg);
}
