.btnMenu {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 13px 8px 13px 20px;
  align-items: center;
  gap: 8px;
  border-top: 1px solid var(--neutral-02);
  color: var(--primary-06, #598022);

  /* Label */
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  line-height: 22px;
}

.icon {
  width: 18px;
  height: 18px;
  color: var(--primary-06);
}

.selectorMenu {
  background-color: var(--neutral-01);
}

.selectorMenuItem {
  :hover {
    border-radius: 4px;
    background: var(--primary-02, #ddeeba);
  }
}

.menuText {
  display: flex;
  justify-content: space-between;

  .name {
    color: var(--neutral-09, #1e1e1e);

    /* Label-bold */
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 22px;
  }

  .num {
    color: var(--neutral-06, #787878);
    text-align: right;

    /* Footnote */
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 18px;
  }
}

.table {
  background-color: var(--neutral-white, #fff);
  min-height: 500px;

  :global {
    .ant-table-thead {
      background-color: var(--neutral-white, #fff);
    }
  }
}

.rightHeader {
  display: flex;
  width: auto;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-white, #fff);

  .selectedName {
    color: var(--neutral-09, #1e1e1e);

    /* Label-bold */
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 22px;
  }

  .searchBar {
    display: flex;

    .input {
      border-radius: 4px;
      padding: 4px 12px;

      button {
        padding: 0;
      }
    }
  }
}

.mobileMenu {
  width: 100%;

  :global {
    .ant-tabs-nav {
      margin: 0 var(--basePadding5);
    }

    .ant-tabs-nav-list {
      width: auto;
    }
  }

  .title {
    margin: var(--basePadding2) var(--basePadding5);

    @include font-subheader1-bold;
  }
}

.menuBtnGroups {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--basePadding2);
  padding-bottom: var(--basePadding5);
  margin-top: var(--basePadding5);
}
