.reactions{
  display: flex;
  padding: 0;
  margin: var(--basePadding3) 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;

  li{
    svg{
      width: 18px;
      height: 18px;
      cursor: pointer;
      vertical-align: middle;
      
      path{
        fill: var(--neutral-06);
      }
    }
  }
}
