.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 2px;
  width: 4px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 2px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 8px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 14px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 2px;
    height: 16px;
  }
  50%, 100% {
    top: 6px;
    height: 8px;
  }
}
