.urlPreview {
  :hover{
    background-color: var(--neutral-02);
  }
  .iframe {
    display: flex;
    justify-content: center;

    iframe {
      border: none;
    }
    img {
      width: 100%;
    }
  }
}

.hoverLink:hover + .preview{
  display: flex;
}

.preview {
  display: none;
  position: absolute;
  background: var(--neutral-01);
  z-index: 44;
  padding: 12px 12px 12px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--neutral-03);
  margin: var(--basePadding3) 0px;
  cursor: pointer;
  word-break: break-all;

  .baseUrl {
    margin-bottom: var(--padding);
    color: var(--neutral-06);

    /* Label */
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: 22px;
  }
  .siteTitle {
    margin-bottom: var(--basePadding2);
    color: var(--neutral-09);

    /* Subheader1-bold */
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
  }
  .siteDescription {
    color: var(--neutral-06);

    /* Label */
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: 22px;
  }

  .cover {
    width: 156px;
    height: 106px;
    border-radius: var(--basePadding3);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
