.pubNoteTextarea {
  box-shadow: none;
  border: 1px solid transparent;
  background-color: var(--neutral-white);
  margin: 0 var(--basePadding5);
  padding: 10px;
  border-radius: var(--baseBorderRadius8);

  @include for-mobile{
    margin: 0; 
  }

  &.focus{
    border: 1px solid var(--primary-06);
  }

  .postTextArea {
    border: none;
    resize: none;
    width: 100%;
    font-size: 14px;
    padding: 0;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: none;

    textarea{
      padding: 0;
      min-height: 150px;
    }
  }

  :global {
    .ant-mentions{
      border-radius: 0;
      margin-bottom: 0;
    }
  }

  .imgs {
    padding: 16px 0 0;

    .imgItem{
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 10px;
      vertical-align: bottom;
      line-height: 0;
      position: relative;

      img {
        font-size: 0;
        width: 40px;
        height: 40px;
        border: 1px solid var(--neutral-03);
        padding: 1px;
        border-radius: var(--baseBorderRadius4);
      }

      svg{
        width: 16px;
        height: 16px;
        background-color: var(--neutral-03);
        border-radius: 50%;
        position: absolute;
        right: -8px;
        top: -8px;
        z-index: 1;
        cursor: pointer;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
    
    &.focus {
      padding-top: 10px;
      border-top: 1px solid var(--neutral-02);
      height: 32px;
    }

    .icons {
      input{
        display: none;
      }

      .upload,
      .emoji,
      .article,
      .community{
        width: 24px;
        height: 24px;
        margin-right: 20px;
        fill: var(--primary-06);
        vertical-align: middle;
      }

      .upload{
        cursor: pointer;
      }

      .community{
        margin-right: 0; 
      }

      >a{
        display: inline-block;

        svg{
          vertical-align: middle;
        }
      }
    }

    >button{
      height: 24px;
      padding: 0 var(--basePadding4);
    }
  }
}

.mentions{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
}
