.root {
  max-height: 500px;
  overflow-y: scroll;

  .relayItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .url {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
      white-space: nowrap;
    }
  }
}
