.status{
  margin: var(--basePadding2) var(--basePadding5);
  .relayStatus {
    display: flex;
    justify-content: space-between;
    .relayBar {
      display: flex;
      justify-content: flex-start;
      gap: var(--basePadding2);
  
      .wifiBar {
        color: var(--neutral-02);
        font-size: 12px;
      }
    }
  }
}

.selector {
  margin: var(--basePadding2) var(--basePadding5);
  :global {
    .ant-select {
      width: 100%;
    }
  }
}

.info {
  margin: var(--basePadding2) var(--basePadding5);
  :global {
    .ant-list-item-meta-description {
      max-height: 80px;
      white-space: break-spaces;
      text-overflow: ellipsis;
      overflow-y: scroll;
    }
  }
  .description {
    margin-bottom: var(--basePadding2);
    color: var(--neutral-06);
    white-space: break-spaces;
  }
  .nips {
    margin-bottom: var(--basePadding5);
  }
}
.users {
  margin: var(--basePadding2) var(--basePadding5);
  width: auto;
  :global {
    .ant-card-head {
      text-align: center;
      padding: var(--basePadding2);
    }
    .ant-card-body {
      text-align: center;
      padding: var(--basePadding2);
    }
    .ant-list {
      padding-bottom: 10px;
    }
    .slick-dots-bottom {
      bottom: 0px;
      button {
        background: var(--primary-03) !important;
      }
      .slick-active {
        button {
          background: var(--primary-04) !important;
        }
      }
    }
  }
  .profile {
    align-items: center;
    justify-content: center;
    line-height: 14px;
    height: 70px;
    display: grid;
    overflow: hidden;
  }
}

.comm {
  margin: var(--basePadding2) var(--basePadding5);
  width: auto;

  :global {
    .ant-card-head {
      text-align: center;
      padding: var(--basePadding2);
    }
    .ant-card-body {
      text-align: center;
      padding: var(--basePadding2);
      overflow: hidden;
      height: 40px;
    }
  }

  .statics{
    display: flex;
    justify-content: flex-start;
    gap: var(--basePadding4);
    align-items: center;
    flex-wrap: wrap;
  }
}

.recommend {
  margin: var(--basePadding2) var(--basePadding5);

  .container{
    max-height: 200px;
    overflow-y: scroll;
    :global{
      .ant-col{
        padding: 0 !important;
      }
      .ant-row{
        margin: 0 !important;
      }
    }
  }
  .name {
    display: flex;
    justify-content: flex-start;
    gap: var(--basePadding2);
    
    @include font-subheader2;

    .description{
      @include font-body;
    }
  }
}
