.relaySelector {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  display: inline-block;
}

.rightMenuLi {
    padding: 5px 0px;
    width: 100%;
    display: block;
  }

.simpleUl {
    padding: 0px;
    margin: 20px 0px;
    list-style: none;
  }

  .connected {
    font-size: 18px;
    font-weight: 500;
    color: green;
  }

  .disconnected {
    font-size: 18px;
    font-weight: 500;
    color: red;
  }

  .relayStatus{
    background: whitesmoke;
    padding: 5px;
    text-align: left;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinContainer {
    padding: 10px;
    background-color: white;
  }
