.eventId {
  font-size: 14px;
  font-weight: 600;
  margin: var(--basePadding2) 0px;
  border-bottom: 1px solid var(--neutral-02);
}

.item {
  display: flex;
  justify-content: space-between;
  margin: var(--basePadding2) 0px;
  
  .success {
    color: var(--primary-06);
  }
  .failed {
    color: var(--red-06);
  }
}
