.pubNoteTextarea {
  box-shadow: inset 0 0 1px #aaa;
  border: 1px solid rgb(216 222 226);
  padding: 10px;
  border-radius: 5px;

  &.focus{
    box-shadow: inset 0 0 1px lightgreen;
    border: 1px solid #8DC53F;
  }

  .postBox {
    box-shadow: inset 0 0 1px #aaa;
    border: 1px solid rgb(216 222 226);
    padding: 5px;
    border-radius: 5px;
  }

  .postHintText {
    color: #acdae5;
    margin-bottom: 5px;
  }

  .postTextArea {
    border: none;
    resize: none;
    width: 100%;
    font-size: 14px;
    padding: 0;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: none;

    textarea{
      padding: 0;
    }
  }

  :global {
    .ant-mentions{
      border-radius: 0;
      margin-bottom: 0;
    }
  }

  .imgs {
    padding: 16px 0 0;

    .imgItem{
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 10px;
      vertical-align: bottom;
      line-height: 0;
      position: relative;

      img {
        font-size: 0;
        width: 40px;
        height: 40px;
        border: 1px solid var(--neutral-03);
        padding: 1px;
        border-radius: var(--baseBorderRadius4);
      }

      svg{
        width: 16px;
        height: 16px;
        background-color: var(--neutral-03);
        border-radius: 50%;
        position: absolute;
        right: -8px;
        top: -8px;
        z-index: 1;
        cursor: pointer;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
    
    &.focus {
      padding-top: 10px;
      border-top: 1px solid var(--neutral-02);
      height: 32px;
    }

    .icons {

      button {
        margin-right: 10px;
      }

      input{
        display: none;
      }

      .upload,
      .emoji,
      .article{
        width: 24px;
        height: 24px;
        margin-right: 20px;
        fill: var(--primary-06);  
      }

      .upload{
        cursor: pointer;
      }

      .emoji{
        
      }

      .article{
        margin-right: 0;
      }
    }
  }

  .iconBtn {
    border: none;
    color: lightsteelblue;
    background: white;
    padding: 0;
    font-size: small;

    svg{
      width: 16px;
      height: 16px;
    }
  }
}

.mentions{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
}
