.repliesHeader {
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 16px;
  }
  .tab {
    font-size: 14px;
  }
}

.subRepliesContainer {
  padding-left: 75px;
}

.replyInput{
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
	.img{
		width: 44px;
		height: 44px;
	}
}
