.postUser {
  display: flex;
  justify-content: space-between;

  .user {
    display: flex;

    :global {
      .ant-avatar {
        width: 44px;
        height: 44px;
      }
    }

    .info {
      margin-left: var(--basePadding3);

      > a {
        @include font-subheader2;

        color: var(--neutral-09);
        text-decoration: none;
      }

      p {
        margin: 0;

        @include font-footnote;

        color: var(--neutral-06);
      }
    }
  }

  .slot {
    .more {
      width: 18px;
      height: 18px;
      color: var(--neutral-06);
      cursor: pointer;
    }
  }
}
