.root {
  display: flex;
  width: auto;
  padding: 16px 20px;
  align-items: flex-start;
  gap: 10px;

  color: var(--neutral-09);

  /* Subheader1-bold */
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
}
