html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--neutral-01);
  touch-action: pan-y;
  scroll-behavior: smooth;
}

.swal2-container {
  z-index: 10000 !important;
}

// antd
.ant-btn-primary:disabled {
  border: none;
}

.ant-menu .ant-menu-item {
  border-radius: 0px;
}
