.home {
  margin-top: var(--basePadding4);
  @include for-pad-desktop {
    &.noData {
      margin-top: 120px;
    }
  }

  .tipsy {
    h1 {
      text-align: center;
      @include font-header3;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      @include font-body;
      color: var(--neutral-06);
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    button {
      width: 285px;
      height: 44px;
    }

    .explore {
      margin-top: 16px;
      @include font-label;
      cursor: pointer;
      color: var(--primary-06);
    }
  }

  .msgList {
    & + button {
    }
  }
}
// .menu {
//   display: block;
//   padding: 0;
//   margin: 40px auto 0;
//   list-style: none;
//   float: right;

//   li{
//     text-transform: capitalize;
//     cursor: pointer;
//     display: flex;
//     justify-content: flex-start;
//     min-height: 40px;
//     align-items: center;
//     border-bottom: 1px solid transparent;
//     color: gray;

//     &:hover{
//       border-color: #8dc53f;
//       color: #8dc53f;
//     }
//   }
// }

.rightPanel {
  //padding-left: var(--basePadding5);

  :global {
    .ant-input-affix-wrapper {
      margin: var(--basePadding4) 0;
      height: 40px;
      border-radius: 50px;

      &:hover {
        border: none;
        border-inline-end: none;
        box-shadow: none;
      }

      &,
      input {
        background-color: var(--neutral-02);
      }

      svg {
        width: 24px;
        height: 24px;

        fill: var(--neutral-06);
      }
    }
  }

  .flycat,
  .friends,
  .trending {
    margin-bottom: var(--basePadding8);

    h2 {
      @include font-subheader2;
    }
  }

  .flycat {
    .item {
      display: flex;
      align-items: flex-start;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        margin-bottom: var(--basePadding3);
      }

      span {
        white-space: normal;
        display: inline-block;
        margin-left: var(--basePadding3);
        border-radius: var(--baseBorderRadius2);
        background-color: var(--primary-06);
        color: var(--neutral-white);
        padding: 0 var(--padding);
        @include font-footnote;
      }
    }

    > a {
      margin-bottom: var(--basePadding3);
      color: var(--primary-06);
      text-decoration: none;
    }
  }

  .friends {
    .friend {
      display: flex;
      margin-bottom: var(--basePadding3);

      > span {
        width: 24px;
        height: 24px;
        flex: none;
      }

      .friendInfo {
        margin-left: var(--basePadding2);
        h3,
        p {
          margin: 0;
        }

        h3 {
          @include font-label-bold;
          color: var(--neutral-09);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          @include font-footnote;
          color: var(--neutral-06);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .follow {
        height: 24px;
        padding: {
          top: 0;
          bottom: 0;
        }

        span {
          @include font-footnote;
        }
      }
    }
  }

  .trending {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 0;
    }

    a {
      margin-bottom: var(--basePadding2);
      text-decoration: none;
      @include font-label;
      color: var(--primary-06);
    }
  }
}
