.urlPreview{
  .iframe {
    display: flex;
    justify-content: center;

    iframe{
      border: none;
    }
    img{
      width: 100%;
    }
  }
}

.preview{
  display: flex;
  border: 1px solid #dbd5d5;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  word-break: break-all;
}
