.pcPadNav {
  padding-right: var(--basePadding5);
  position: sticky;
  top: 0;
  z-index: 2;
  height: 0;

  @include for-pad {
    padding-right: initial;
  }

  .logo {
    padding: var(--basePadding4) var(--basePadding5);

    a {
      display: inline-block;
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      vertical-align: middle;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-top: var(--basePadding7);
    list-style: none;

    li {
      display: flex;

      &:hover {
        background-color: var(--hover-color);
      }
      padding: {
        left: var(--basePadding5);
        right: var(--basePadding5);
      }
    }

    li,
    a {
      display: flex;
      flex: 1;
      text-decoration: none;
      align-items: center;
      height: 56px;
      border-radius: 50px;
      cursor: pointer;

      span {
        @include font-subheader1;

        color: var(--neutral-09);
      }

      @include for-pad {
        justify-content: center;
      }

      &.active {
        svg {
          fill: var(--neutral-09);
        }

        span {
          @include font-subheader1-bold;

          color: var(--neutral-09);
        }
      }

      :global {
        .ant-dropdown-trigger {
          @include for-desktop {
            display: flex;
            width: 100%;
          }

          h1 {
            margin: 0 0 0 var(--basePadding4);

            @include font-header3;

            @include for-pad {
              display: none;
            }
          }
        }
      }

      svg {
        width: 24px;
        height: 24px;
        fill: var(--neutral-06);
      }

      > span {
        margin-left: var(--basePadding3);
        color: var(--neutral-06);

        @include for-pad {
          display: none;
        }
      }
    }
  }

  button {
    height: 44px;
    margin-top: var(--basePadding6);

    @include for-pad {
      width: 40px !important;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: var(--basePadding5);

      svg {
        width: 24px;
        height: 24px;
        fill: var(--neutral-white);
      }
    }
  }
}

.pcPadNavUserMenu {
  :global {
    .ant-dropdown-menu {
      border-radius: var(--baseBorderRadius8);

      &:empty {
        display: none;
      }
    }

    .ant-dropdown-menu-item {
      height: 40px;
      line-height: 40px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  li {
    @include font-label;
  }
}

.pcPadMain {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 'left left left left left left left left left';

  @include for-pad {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: none;
  }

  &.rightExists {
    grid-template-areas: 'left left left left left left right right right';

    @include for-pad {
      grid-template-areas: 'left left left left left left left left left';
      grid-template-areas: none;
    }
  }

  .left {
    grid-area: left;

    @include for-pad {
      grid-area: initial;
      grid-column: span 6;
    }
  }

  .right {
    height: 100%;
    border-left: 1px solid var(--neutral-02);
    padding-left: var(--basePadding5);
    grid-area: right;

    @include for-pad {
      display: none;
    }
  }
}

.modal {
  .modalCoseIcons {
    width: 24px;
    height: 24px;
  }

  :global {
    .ant-modal-content {
      @include for-mobile {
        padding: var(--basePadding2);
      }
    }
  }
}

.mobile {
  grid-column: span 4;

  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    gap: var(--basePadding2);
    align-items: center;
    padding: var(--basePadding4);
    height: var(--mobileHeaderHeight);
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(5px);

    :global {
      .ant-avatar {
        width: 32px;
        height: 32px;
      }
    }

    img {
      width: 32px;
      height: 32px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  main {
    padding: {
      bottom: calc(var(--basePadding5) * 5);
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: var(--mobileFooterHeight);
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(5px);
    padding: {
      left: var(--basePadding4);
      right: var(--basePadding4);
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;
      align-items: flex-end;

      li {
        &.active {
          svg {
            fill: var(--neutral-09);
          }
        }

        &.add {
          span {
            display: inline-block;
            background-color: var(--primary-06);
            border-radius: var(--baseBorderRadius8);
            padding: 7px 11px;
            line-height: 0;

            svg {
              width: 14px;
              height: 14px;
              fill: var(--neutral-white);
            }
          }
        }

        svg {
          width: 20px;
          height: 20px;
          fill: var(--neutral-06);
        }
      }
    }
  }
}

.mobileDrawer {
  padding: var(--basePadding4);

  .close {
    width: 24px;
    height: 24px;
    float: right;
  }

  .userTitle {
    h1 {
      @include font-header3;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: {
        top: var(--basePadding4);
        bottom: var(--basePadding4);
      }

      svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }

      &:last-child {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--neutral-02);
      }
    }
  }

  :global {
    .ant-drawer-body {
      padding: 0;
      position: relative;
    }
  }
}
