.postContent {
  padding: 0;
  margin: 0;

  .postHeader {
    word-break: break-all;

    p {
      margin: 10px 0px;
    }

    .banner {
      width: 100%;
      max-width: 100%;
      max-height: 354px;
      margin: 0 auto;
      display: block;
      border-radius: 12px;
      object-fit: cover;
      object-position: center;
    }

    .postTitleInfo {
      margin: 10px 0px 40px 0px;

      .title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        margin: 20px 0px;
        text-transform: capitalize;
      }

      .summary {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--neutral-06);
      }

      .author {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;

        .info {
          display: flex;
          justify-content: space-between;
          margin: 0;
          max-width: 200px;

          .username {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
          }
          .time {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: var(--neutral-06)
          }
        }
      }
    }

    .postTags {
      margin: 10px 0px 30px 0px;
      font-size: 14px;

      span {
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;
        color: gray;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 80px 0px 20px 0px;
    width: 100%;

    .author {
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;

      .picture {
        width: 80px;
        margin: 0 auto;

        img {
          width: 80px;
          height: 80px;
          display: block;
          border-radius: 50%;
        }
      }

      .name {
        margin: 10px 0px 20px 0px;

        a {
          font-size: 16px;
          color: black;
        }
      }

      .collected {
        margin: 60px 0px 20px 0px;
        border-radius: 5px;
        padding: 10px;
        text-align: left;

        .title {
          text-transform: capitalize;
          color: gray;
        }

        .datetime {
          margin: 5px;
          padding: 5px;
          border-radius: 5px;
          text-decoration: underline;
        }

        .dirs {
          margin: 5px;
          padding: 5px;
          border-radius: 5px;
          text-decoration: underline;
        }
      }
    }
  }

  .updated_at {
    margin: 20px 0;

    span {
      margin: 0px 5px;
      font-size: 14px;
      color: gray;
      text-transform: capitalize;
    }
  }
}
