.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 320px;

  .title{
    margin-top: -8vh;
    font-weight: bold;
    color: black;
    font-size: 3.375rem;

    span {
      font-size: 3.125rem;
    }
  }

  p{
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    margin: 0.625rem 0 1.5rem 0;
  }
}