.header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}

.communitySearchPanel {
  display: flex;
  justify-content: space-between;
  margin: var(--basePadding2) var(--basePadding5);
  align-items: center;
  gap: var(--basePadding5);
}

.communityTab{
  margin: var(--basePadding2) var(--basePadding5);  
}

.communityPage {
  padding: var(--basePadding5);
  word-wrap: break-word;

  .banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--baseBorderRadius8);
  }

  .title {
    @include font-header2;
    margin: var(--basePadding3) 0px;
  }

  .description {
    @include font-label;
    margin: var(--basePadding3) 0;
    white-space: pre-line;
  }

  .ruleTitle {
    @include font-subheader1-bold;
    margin: var(--basePadding3) 0px;
  }

  .rules {
    @include font-label;
    margin: var(--basePadding3) 0;
    white-space: pre-line;
  }

  .moderator {
    display: flex;
    justify-content: space-between;
  }

  .selectBtn {
    display: flex;
    justify-content: space-between;
  }
}

.modal {
  .modalCoseIcons {
    width: 24px;
    height: 24px;
  }
}
