.write {
  padding: 0;
  margin: 0;

  .writeHeaderBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    z-index: 1;
    padding: 0 15px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;

    @media (prefers-color-scheme: light) {
      background-color: white;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #333;
    }

    @include for-mobile {
      position: initial;
      display: block;
      height: 40px;
      text-align: center;
    }

    a {
      img {
        width: 45px;
        height: 45px;
        object-fit: contain;
      }

      @include for-mobile {
        display: block;
        padding: 5px 0;

        img {
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
      }
    }

    .btnGroup {
      display: flex;

      @include for-mobile {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
        padding: 10px 0;
        border-top: 1px solid #e0e0e0;
        background-color: rgb(255 255 255 / 80%);
        justify-content: space-around;
      }

      button {
        svg {
          margin-right: 10px;
        }

        @include for-mobile {
          margin: 0 5px !important;
          font-size: 12px;
          padding: 4px 6px;

          svg {
            margin-right: 5px;
          }
        }
      }

      button:nth-child(1) {
        margin: 0 24px;
      }

      button:last-child {
        color: white;
        border-radius: 22px;
        background: var(--primary-06, #598022);
      }
    }
  }

  .main {
    width: 670px;
    max-width: 100%;
    margin: 20px auto;
    min-height: var(--height);
    border-radius: 8px;

    @include for-mobile {
      // height = Screen height - Header height - Footer height - Title height - Editor margin
      --height: calc(100vh - 40px - 50px - 40px - 20px);

      max-width: 95vw;
      margin: 10px auto;
      height: var(--height);
    }

    .title {
      flex: 1 auto;
      background-color: #fafbfc;
      height: 60px;

      @include for-mobile {
        height: 39px;
      }

      :global {
        .MuiOutlinedInput-root,
        .MuiOutlinedInput-notchedOutline,
        input {
          border: none;
        }

        input {
          font-size: 26px;
          font-weight: bold;
          padding: 10px 0;

          @include for-mobile {
            font-size: 20px;
            padding: 5px 10px;
          }
        }
      }
    }

    .editor {
      min-height: 700px;
      overflow: hidden;

      @include for-mobile {
        width: 100%;
        height: var(--height);
      }
    }
  }

  :global {
    .rc-md-editor {
      .rc-md-navigation {
        background-color: #fafbfc;

        .button {
          margin-right: 10px;
        }

        i {
          color: #333;
        }
      }
    }
  }
}

.prePublish {
  .publishRelay {
    padding: 0;
    margin-bottom: var(--basePadding4);
    margin-top: 0;
  }

  .image {
    width: 100%;
    height: 228px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px dashed var(--neutral-03, #d2d2d2);
    background: var(--post-bg, #f2f2f2);

    .pic{
      width: 100%;
      height: 100%;
      object-fit: contain;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .overlayButton {
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 100%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: rgb(255 255 255 / 70%); /* Semi-transparent white background */
        border: none;
        cursor: pointer;
        color: red;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: block;
        width: 100%;
      }
    }
  }

  .tags {
    :global {
      .ReactTags__selected span {
        margin-bottom: 5px;
      }
    }

    input {
      display: flex;
      width: 100% !important;
      box-sizing: border-box;
    }
  }
}
