.aritcleItem{
  margin: 10px 0;
  border-bottom: 1px dashed #ddd;
  padding: 15px 0;

  .itemContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .content{
      margin-left: 15px;
    }
  }
}

.bolgFeedItem{
  display: flex;
  border: 1px solid #dbd5d5;
  padding: 10px;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;

  img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
  }

  .bolgFeedItemContent{
    
    .title{
      font-size: 16px;
      margin-bottom: 5px;
      display: block;
      text-transform: capitalize;
    }
  
    p{
      font-size: 12px;
      color: gray;
      margin-bottom: 0;
    } 
  }
}

.tags{
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

.reaction{
  display: inline-block;

  button:hover {
    svg path {
      fill: #8dc53f;
    }
  }
}