.communityIdWrapper {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  margin: 12px 0;
  border-radius: 8px;
  background: var(--post-bg, #F2F2F2);
  svg {
    margin: 0 4px;
  }
  a {
    color: var(--primary-06, #598022);
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}