.nav{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 170px;
  
    li{
      font-size: 16px;
      font-weight: 400;
      background: none;
      cursor: pointer;
      border-radius: 5px;
      color: gray;

      &:not(:first-child) {
        padding-left: 10px;

        &:hover {
          background: rgb(141, 197, 63);
          border-radius: 50px;
          overflow: hidden;
  
          &,a{
            color: white;
            font-weight: bold;
          }
        }
      }
  
      &:not(:last-child) {
        margin-bottom: 15px;
      }
  
      img{
        max-width: 45px;
      }
  
      a{
        display: block;
        color: black;
        text-decoration: none;
        padding: 10px 5px;
  
        svg{
          display: inline-block;
          margin-right: 10px; 
          vertical-align: bottom;
        }
  
        span{
          display: inline-block;
          margin-left: 5px;
          padding: 3px 5px;
          border-radius: 50%;
          color: red;
          :hover {
            color: gray;
          }
        }
      }
    }
  }
}